development:
    lang: "pt"
    connect: "http://localhost:3001"
    couchdb: "http://localhost:5984/cncflora"
    profiles: "http://localhost/apps/profiles"
    biblio: "http://localhost/apps/biblio"
    es: 'http://localhost:9200/cncflora'
    base: ""
test:
    lang: "pt"
    connect: "http://localhost:3001"
    couchdb: "http://localhost:5984/cncflora_test"
    profiles: "http://localhost/apps/profiles"
    biblio: "http://localhost/apps/biblio"
    es: 'http://localhost:9200/cncflora'
    base: ""
production:
    lang: "pt"
    connect: "http://localhost:3000"
    couchdb: "http://tester:tester@localhost:5984/cncflora"
    profiles: "http://localhost/apps/profiles"
    biblio: "http://localhost/apps/biblio"
    es: 'http://localhost:9200/cncflora'
    base: ""
