<h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>

<p>
    <strong>{{strings.assessor}}</strong>:{{assessor}}
</p>
<p>
    <strong>{{strings.evaluator}}</strong>:{{evaluator}}
</p>
<p>
    <strong>{{strings.category}}</strong>:{{category}}
</p>
<p>
    <strong>{{strings.criteria}}</strong>:{{criteria}}
</p>
<p>
    <strong>{{strings.rationale}}</strong>:{{rationale}}
</p>

<p><a target='_blank' href="{{profiles}}/profile/{{profile}}">{{strings.specie-profile}}</a></p>

