{{> header}}

{{#assessment}}
<div class="span8">
    {{> assessment}}
    <form action="{{base}}/assessment/{{_id}}/comment" method="POST" id='comment-form'>
        <fieldset>
            <legend>{{strings.add-comment}}</legend>
            <p><textarea id="comment" name="comment" rows="10" cols="30"></textarea></p>
            <p><button type='submit' class='btn btn-success'>{{strings.comment}}</button></p>
        </fieldset>
    </form>
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
    {{#role-assessor}}
    {{#owner}}
    <form action="{{base}}/assessment/{{_id}}/status/open" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-open}}</button>
    </form>
    <form action="{{base}}/assessment/{{_id}}/status/published" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-published}}</button>
    </form>
    {{/owner}}
    {{/role-assessor}}
</div>
{{/assessment}}

{{> footer}}

