{{> header}}

{{#assessment}}
<div class="span8">
    <h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>
    <p><a href="/assessment/{{_id}}">Perfil atual da espécie</a></p>
    <form id="data" action="/assessment/{{_id}}" method="POST">
        <fieldset>
            <div class="onde-panel"></div>
            <p class="actions"><button class="btn btn-success">{{strings.save}}</button></p>
        </fieldset>
    </form>
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
    <h4>{{strings.last-review}}</h4>
    {{#review}}
    <p><strong>{{review.status}}</strong>: {{review.comment}}</p>
    {{/review}}
    {{^review}}
    <p>{{strings.no-review}}</p>
    {{/review}}
    <h4>{{strings.comments}}</h4>
    {{#comments}}
    <p><strong>{{creator}}</strong>: {{comment}}</p>
    {{/comments}}
    {{^comments}}
    <p>{{strings.no-comments}}</p>
    {{/comments}}
    <form action="/assessment/{{_id}}/status/review" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-review}}</button>
    </form>
</div>
{{/assessment}}

<script type="text/javascript">
    var schema = {{{schema}}};
    var data = {{{data}}};
</script>

{{> footer}}

