{{> header}}


<div class="span8">
    <h3><i>{{specie.scientificName}}</i> {{specie.scientificNameAuthorship}}</h3>
    <p>N&atilde;o h&aacute; avalia&ccedil;&atilde;o cadastrada para essa esp&eacute;cie.</p>
    <p><a href="{{profiles}}/specie/{{specie._id}}">Perfil atual da espécie</a></p>
    {{#logged}}
    {{#role-assessor}}
    <form action="{{base}}/assessment" method="POST">
        <input name="lsid" value="{{specie._id}}" type="hidden" />
        <button class="btn">Iniciar avaliação</button>
    </form>
    {{/role-assessor}}
    {{/logged}}
</div>

{{> footer}}
