{{> header}}

{{#assessment}}
<div class="span8">
    {{> assessment}}
    <form action="/assessment/{{_id}}/review" method='POST' id='review-form'>
        <fieldset>
            <legend>{{strings.review-assessment}}</legend>
            <p>
                <label for="status">Review Status</label>
                <select id="status" name="status" autocomplete='off'>
                    <option value="consistent" {{#review.status-consistent}} selected='selected' {{/review.status-consistent}}>Consistent</option>
                    <option value="inconsistent" {{#review.status-inconsistent}} selected="selected" {{/review.status-inconsistent}}>Inconsistent</option>
                    <option value="rationale" {{#review.status-rationale}} selected='selected' {{/review.status-rationale}}>Review rationale</option>
                </select>
            </p>
            <p>
                <label for="comment">Comments</label>
                <textarea name="comment" rows="10" cols="30">{{review.comment}}</textarea>
            </p>
            <p>
                <label for="rationale">Rewrite Rationale</label>
                <textarea name="rationale" rows="10" cols="30">{{review.rationale}}</textarea>
            </p>
            <p>
                <button type="submit" class='btn btn-success'>{{strings.save}}</button>
            </p>
        </fieldset>
    </form>
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
    <form action="/assessment/{{_id}}/status/open" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-open}}</button>
    </form>
    <form action="/assessment/{{_id}}/status/comments" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-comments}}</button>
    </form>
</div>
{{/assessment}}

{{> footer}}


