{{> header}}

{{#assessment}}
<div class="span8">
    {{> assessment}}
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
    <h4>{{strings.last-review}}</h4>
    {{#review}}
    <p><strong>({{evaluator}}) {{review.status}}</strong>: {{review.comment}}</p>
    {{/review}}
    {{^review}}
    <p>{{strings.no-review}}</p>
    {{/review}}
    <h4>{{strings.comments}}</h4>
    {{#comments}}
    <p><strong>{{creator}}</strong>: {{comment}}</p>
    {{/comments}}
    {{^comments}}
    <p>{{strings.no-comments}}</p>
    {{/comments}}
    {{#logged}}
        {{#role-assessor}}
            {{#status-open}}
                <a href="{{base}}/assessment/{{_id}}/edit" class="btn btn-mini">{{strings.edit}}</a>
            {{/status-open}}
        {{/role-assessor}}
        {{#role-evaluator}}
            {{#status-review}}
                <a href="{{base}}/assessment/{{_id}}/review" class="btn btn-mini">{{strings.review}}</a>
            {{/status-review}}
        {{/role-evaluator}}
        {{#status-comments}}
            <a href="{{base}}/assessment/{{_id}}/comment" class="btn btn-mini">{{strings.comment}}</a>
        {{/status-comments}}
    {{/logged}}
</div>
{{/assessment}}

{{> footer}}

