{{> header}}

{{#assessment}}
<div class="span8">
    {{> assessment}}
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
    {{#logged}}
        {{#role-assessor}}
            {{#status-open}}
                <a href="{{base}}/assessment/{{_id}}/edit" class="btn btn-mini">{{strings.edit}}</a>
            {{/status-open}}
        {{/role-assessor}}
        {{#role-evaluator}}
            {{#status-review}}
                <a href="{{base}}/assessment/{{_id}}/review" class="btn btn-mini">{{strings.review}}</a>
            {{/status-review}}
        {{/role-evaluator}}
        {{#status-comments}}
            <a href="{{base}}/assessment/{{_id}}/comment" class="btn btn-mini">{{strings.comment}}</a>
        {{/status-comments}}
    {{/logged}}
</div>
{{/assessment}}

{{> footer}}

