{{> header}}

{{#assessment}}
<div class="span8">
    {{> assessment}}
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
</div>
{{/assessment}}

{{> footer}}

