{{> header}}

<div class="span8">
    <ul class="nav nav-tabs">
        <li class='active'><a href="#empty" data-toggle="tab">{{strings.not-started}}</a></li>
        <li><a href="#open" data-toggle="tab">{{strings.open}}</a></li>
        <li><a href="#review" data-toggle="tab">{{strings.review}}</a></li>
        <li><a href="#comments" data-toggle="tab">{{strings.comment}}</a></li>
        <li><a href="#published" data-toggle="tab">{{strings.done}}</a></li>
    </ul>
    <div class="tab-content">
        <div id="empty" class='tab-pane active'>
            <select class="families">
                <option>---</option>
                {{#families}}
                <option>{{.}}</option>
                {{/families}}
            </select>
            <ul></ul>
        </div>
        <div id="open" class="tab-pane">
            <select class="families">
                <option>---</option>
                {{#families}}
                <option>{{.}}</option>
                {{/families}}
            </select>
            <ul></ul>
        </div>
        <div id="review" class="tab-pane">
            <select class="families">
                <option></option>
                {{#families}}
                <option>{{.}}</option>
                {{/families}}
            </select>
            <ul></ul>
        </div>
        <div id="comments" class="tab-pane">
            <select class="families">
                <option>---</option>
                {{#families}}
                <option>{{.}}</option>
                {{/families}}
            </select>
            <ul></ul>
        </div>
        <div id="published" class="tab-pane">
            <select class="families">
                <option>---</option>
                {{#families}}
                <option>{{.}}</option>
                {{/families}}
            </select>
            <ul></ul>
        </div>
    </div>
</div>

{{> footer}}

