
<h2><a href='{{base}}/{{db}}/family/{{taxon.family}}'>{{taxon.family}}</a></h2>
<h3><i>{{taxon.scientificNameWithoutAuthorship}}</i> {{taxon.scientificNameAuthorship}}</h3>

<p>
    {{#profiles}}
    <a href="{{profiles}}/{{db}}/specie/{{taxon.scientificNameWithoutAuthorship}}" class='btn btn-default'>
        <span class="glyphicon glyphicon-leaf"></span>
        {{strings.see-profile}}
    </a>
    {{/profiles}}
    {{#occurrences}}
    <a href="{{occurrences}}/{{db}}/specie/{{taxon.scientificNameWithoutAuthorship}}" class='btn btn-default'>
        <span class='glyphicon glyphicon-globe'></span>
        {{strings.occurrence-map}}
    </a>
    {{/occurrences}}
</p>

<p>
    <strong>{{strings.assessor}}</strong>:<span class='assessor'>{{assessor}}</span>
</p>
<p>
    <strong>{{strings.evaluator}}</strong>:<span class='evaluator'>{{evaluator}}</span>
</p>
<p>
    <strong>{{strings.category}}</strong>:<span class='category'>{{category}}</span>
</p>
<p>
    <strong>{{strings.criteria}}</strong>:<span class='criteria'>{{criteria}}</span>
</p>
<p>
    <strong>{{strings.rationale}}</strong>:<span class='rationale'>{{rationale}}</span>
</p>

{{#currentPopulationTrend}}
	<p>
		<strong>{{current-population-trend}}</strong>:{{currentPopulationTrend}}
	</p>
{{/currentPopulationTrend}}

{{#information.dateLastSeen}}
	<p>
		<strong>{{strings.date-last-seen}}</strong>:{{information.dateLastSeen}}
	</p>
{{/information.dateLastSeen}}

{{#information.generationLength}}
<p>
	<strong>{{strings.generation-length}}</strong>:{{information.generationLength}}
</p>
{{/information.generationLength}}

{{#information.numberOfLocations}}
<p>
	<strong>{{strings.number-of-locations}}</strong>:{{information.numberOfLocations}}
</p>
{{/information.numberOfLocations}}

{{#information.numberOfMatureIndividuals}}
<p>
	<strong>{{strings.number-of-mature-individuals}}</strong>:{{information.numberOfMatureIndividuals}}
</p>
{{/information.numberOfMatureIndividuals}}

{{#information.populationDeclinePast}}
<p>
	<strong>{{strings.population-decline-past}}</strong>:{{information.populationDeclinePast}}
</p>
{{/information.populationDeclinePast}}

{{#information.timePeriodOfPastDecline}}
<p>
	<strong>{{strings.time-period-of-past-decline}}</strong>:{{information.timePeriodOfPastDecline}}
</p>
{{/information.timePeriodOfPastDecline}}

{{#information.populationDeclineFuture}}
<p>
	<strong>{{strings.population-decline-future}}</strong>:{{information.populationDeclineFuture}}
</p>
{{/information.populationDeclineFuture}}

{{#information.timePeriodOfFutureDecline}}
<p>
	<strong>{{strings.time-period-of-future-decline}}</strong>:{{information.timePeriodOfFutureDecline}}
</p>
{{/information.timePeriodOfFutureDecline}}

{{#information.possiblyExtinct}}
	<p>
		<strong>{{strings.possibly-extinct}}</strong>
	</p>
{{/information.possiblyExtinct}}

{{#information.severelyFragmented}}
<p>
	<strong>{{strings.severely-fragmented}}</strong>:{{information.severelyFragmented}}
</p>
{{/information.severelyFragmented}}

<ul>
    {{#references}}
        <li>{{.}}</li>
    {{/references}}
</ul>


