<h3><i>{{taxon.scientificNameWithoutAuthorship}}</i> {{taxon.scientificNameAuthorship}}</h3>

<p>
    <strong>{{strings.assessor}}</strong>:{{assessor}}
</p>
<p>
    <strong>{{strings.evaluator}}</strong>:{{evaluator}}
</p>
<p>
    <strong>{{strings.category}}</strong>:{{category}}
</p>
<p>
    <strong>{{strings.criteria}}</strong>:{{criteria}}
</p>
<p>
    <strong>{{strings.rationale}}</strong>:{{rationale}}
</p>

{{#currentPopulationTrend}}
	<p>
		<strong>{{current-population-trend}}</strong>:{{currentPopulationTrend}}
	</p>
{{/currentPopulationTrend}}

{{#information.dateLastSeen}}
	<p>
		<strong>{{strings.date-last-seen}}</strong>:{{information.dateLastSeen}}
	</p>
{{/information.dateLastSeen}}

{{#information.generationLength}}
<p>
	<strong>{{strings.generation-length}}</strong>:{{information.generationLength}}
</p>
{{/information.generationLength}}

{{#information.numberOfLocations}}
<p>
	<strong>{{strings.number-of-locations}}</strong>:{{information.numberOfLocations}}
</p>
{{/information.numberOfLocations}}

{{#information.numberOfMatureIndividuals}}
<p>
	<strong>{{strings.number-of-mature-individuals}}</strong>:{{information.numberOfMatureIndividuals}}
</p>
{{/information.numberOfMatureIndividuals}}

{{#information.populationDeclinePast}}
<p>
	<strong>{{strings.population-decline-past}}</strong>:{{information.populationDeclinePast}}
</p>
{{/information.populationDeclinePast}}

{{#information.timePeriodOfPastDecline}}
<p>
	<strong>{{strings.time-period-of-past-decline}}</strong>:{{information.timePeriodOfPastDecline}}
</p>
{{/information.timePeriodOfPastDecline}}

{{#information.populationDeclineFuture}}
<p>
	<strong>{{strings.population-decline-future}}</strong>:{{information.populationDeclineFuture}}
</p>
{{/information.populationDeclineFuture}}

{{#information.timePeriodOfFutureDecline}}
<p>
	<strong>{{strings.time-period-of-future-decline}}</strong>:{{information.timePeriodOfFutureDecline}}
</p>
{{/information.timePeriodOfFutureDecline}}

{{#information.possiblyExtinct}}
	<p>
		<strong>{{strings.possibly-extinct}}</strong>
	</p>
{{/information.possiblyExtinct}}

{{#information.severelyFragmented}}
<p>
	<strong>{{strings.severely-fragmented}}</strong>:{{information.severelyFragmented}}
</p>
{{/information.severelyFragmented}}

<ul>
    {{#references}}
        <li>{{.}}</li>
    {{/references}}
</ul>

{{#specie_profile}}
<p>
    <h4>{{strings.uses}}</h4>
	    {{#uses}}
	        <p><strong>{{strings.use}}</strong>: {{use}}</p>
	        <p><strong>{{strings.resource}}</strong>: {{resource}}</p>
	        <p><strong>{{strings.provenance}}</strong>: {{provenance}}</p>
	        <p>{{details}}</p>
	        <ul>
	            {{#references}}
	            <li><a href="/../biblio/biblio/{{ref}}">{{citation}}</a></li>
	            {{/references}}
	        </ul>
	    {{/uses}}
	    {{^uses}}
	    <p>N/A</p>
	    {{/uses}}
	{{strings.threats}}
	    {{#threats}}
	        <p><strong>{{strings.threat}}</strong>: {{threat}}</p>
	        <p><strong>{{strings.incidence}}</strong>: {{incidence}}</p>
	        <p><strong>{{strings.severity}}</strong>: {{severity}}</p>
	        {{#reversible}} <p><strong>{{strings.reversible}}</strong></p>{{/reversible}}
	        {{#ended}} <p><strong>{{strings.ended}}</strong></p>{{/ended}}
	        <p>
	            <strong>{{strings.timing}}</strong>:
	            <ul>
	                {{#timing}}
	                <li>{{.}}</li>
	                {{/timing}}
	            </ul>
	        </p>
	        <p>
	            <strong>{{strings.decline}}</strong>:
	            <ul>
	                {{#decline}}
	                <li>{{.}}</li>
	                {{/decline}}
	            </ul>
	        </p>
	        <p>{{details}}</p>
	        <ul>
	            {{#references}}
	            <li><a href="/../biblio/biblio/{{ref}}">{{citation}}</a></li>
	            {{/references}}
	        </ul>
	    {{/threats}}
	    {{^threats}}
	    <p>N/A</p>
	    {{/threats}}
	    <h4>{{strings.conservation-actions}}</h4>
	    {{#actions}}
	        <p><strong>{{strings.action}}</strong>: {{action}}</p>
	        <p><strong>{{strings.situation}}</strong>: {{situation}}</p>
	        <p>{{details}}</p>
	        <ul>
	            {{#references}}
	            <li><a href="/../biblio/biblio/{{ref}}">{{citation}}</a></li>
	            {{/references}}
	        </ul>
	    {{/actions}}
	    {{^actions}}
	    <p>N/A</p>
	    {{/actions}}
</p>
<p><a target='_blank' href="{{profiles}}/profile/{{profile}}">{{strings.specie-profile}}</a></p>
{{/specie_profile}}

