<p><strong>{{strings.creator}}</strong>: <span class='creator'>{{creator}}</span></p>
<p><strong>{{strings.contributor}}</strong>: <span class='contributor'>{{contributor}}</span></p>
<p><strong>{{strings.contact}}</strong>: <span class='contact'>{{contact}}</span></p>
<p><strong>{{strings.created}}</strong>: {{created_date}}</p>
<p><strong>{{strings.modified}}</strong>: {{modified_date}}</p>
<p><strong>{{strings.status}}</strong>: <span class='status'>{{status}}</span></p>

