{{> header}}


{{^logged}}
<h2 class="col-md-12">{{strings.must-login}}</h2>
{{/logged}}

{{#logged}}

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>{{strings.family}}</th>
                <th>{{strings.not-started}}</th>
                <th>{{strings.open}}</th>
                <th>{{strings.reviewed}}</th>
                <th>{{strings.comment}}</th>
                <th>{{strings.published}}</th>
                <th>{{strings.total}}</th>
            </tr>
        </thead>
        <tbody>
            {{#families}}
            <tr id="{{family}}">
                <td><a href="{{base}}/{{db}}/workflow/{{family}}">{{family}}</a></td>
                <td class="not_started">{{not_started}}</td>
                <td class="open">{{open}}</td>
                <td class="review">{{review}}</td>
                <td class="comments">{{comments}}</td>
                <td class="published">{{published}}</td>
                <td class="total">{{total}}</td>
            </tr>
            {{/families}}
        </tbody>
    </table>
</div>
{{/logged}}


{{> footer}}
